.header {
    background: #191919;
}

.new-product {
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.625rem;
    text-transform: uppercase;

    opacity: 0.4964;
}